*{
	margin:0;
	padding:0;
	font-family: "Jost", sans-serif;
	outline: none;
}
body{
	background-image: linear-gradient(to right bottom, #fbc5d8, #ecccf1, #d2d7ff, #b6e2ff, #a6eafb);
}
h2{
	padding:20px 0;
	color:#6cbbcf;
}
#wrapper{
	height:700px;
	width:1024px;
	margin:20px auto;
}
#form, #tabel{
	margin:1%;
	padding:2%;
	width:44%;
	float:left;
	background:#fff;
	line-height: 150%;
	border-radius:2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
	0 1px 5px 0 rgba(0,0,0,0.12),
	0 3px 1px -2px rgba(0,0,0,0.2);
}
input[type=text], textarea{
	padding:10px 0;
	font-size:100%;
	width:100%;
	background:transparent;
	border:1px solid transparent;
	outline:none;
	transition: border 0.5s;
	background: #e3e3e3;
}
input[type=text]:focus, textarea:focus{
	border-bottom:2px solid #fd4d8b;
}
input[type=text]:focus{
	box-shadow: none;
}
input[type=radio]{
	margin-right:10px;
	cursor:pointer;
}
label{
	cursor:pointer;
}
select{
	background:#fff;
	font-size:100%;
	margin-top:5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
	0 1px 5px 0 rgba(0,0,0,0.12),
	0 3px 1px -2px rgba(0,0,0,0.2);
	padding:5px 8px;
	border:none;
	border-radius:2px;
	outline:none;
	cursor:pointer;
}
.btn{
	width:250px;
	margin:30px auto 10px auto;
}
button{
	padding: 10px 30px;
	font-size: 100%;
	margin:5px;
	background:#47a1b8e2;
	outline: none;
	border:none;
	border-radius:2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
	0 1px 5px 0 rgba(0,0,0,0.12),
	0 3px 1px -2px rgba(0,0,0,0.2);
	color:#fff;
	cursor:pointer;
	transition: background 0.5s;
}
button:hover{
	background:#4DB6AC;
}
td{
	padding: 5px 5px 5px 0;
	vertical-align: top;
}

@media screen and (max-width: 1024px){
	#wrapper{
		width:100%;
	}
}
@media screen and (max-width: 600px){
	#form, #tabel {
		margin:2%;
		padding:4%;
		width:88%;
		float:none;
	}
	#wrapper{
		height: 1000px;
	}
}
.kolom{
    padding: 15px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 3px;
}
.kolom{
    background: #e3e3e3;
    padding-right: 35px;
}